@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #04080F;
  --color-accent: #507DBC;
  --color-surface: #A1C6EA;
  --color-bg-alt: #BBD1EA;
  --color-muted: #DAE3E5;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: transparent;
    color: var(--color-text);
    font-family: 'DM Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }
}
